/* responsiveness for the header Main page */
@media (max-width: 750px) {
    header {
        justify-content: space-between;
    }

    header h2 {
        font-size: 1.2rem;
    }

    nav {
        display: none;
    }

    #search-section {
        height: auto;
        bottom: 0px;
        padding: 15px 0px;
    }

    #search-section div {
        width: 70%;
        margin: 10px;
    }

    #main-card-container {
        margin: 160px auto 100px auto; 

    }

}

@media (max-width: 550px) {
    #search-section div {
        width: 80%;
    }
}