    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #E3F2FD;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 1400px;
        margin: auto;
        padding: 13px;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        background-color: #E3F2FD;
        color: black;
        z-index: 9999;
        border-bottom: 1px solid #c9deee;

    }

    header img {
        width: 100%;
    }

    header a {
        text-decoration: none;
        color: black;
        width: 10%;
        /* padding: 5px; */
    }

    li a {
        text-decoration: none;
    }

    #login {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #login li {
        list-style: none;
        margin: 10px;
    }

    #signup {
        background-color: #64B5F6;
        padding: 10px 15px;
        color: white;
        border: none;
        border-radius: 10px;
    }

    h1 {
        margin-bottom: 0;
    }

    .form-container {
        width: 40%;
        border: 1px solid #c9deee;
        border-radius: 5px;
        margin: 120px auto;
        background-color: #f6f8fa;
        max-width: 1200px;
        box-shadow: 0px 0px 2px 0px grey;
    }

    .form {
        display: none;
    }

    .form.active {
        display: block;
    }

    p {
        font-size: 14px;
    }

    #logtype {
        display: flex;
        /* text-align: center; */
        width: 85%;
        margin: 30px auto 0 auto;
        box-sizing: border-box;
        background-color: #d2dee7;
        border-radius: 5px;
    }

    #logtype button {
        border: none;
        border-radius: 5px;
        margin: 4px;
        padding: 10px;
        background-color: #d2dee7;

        a {
            text-decoration: none;
            color: black;
        }
    }

    #logtype .btn.active {
        border: none;
        background-color: #E3F2FD;
    }

    button a {
        padding: 10px 45px;
    }

    h1 {
        font-size: 1.8rem;
    }

    h1,
    p {
        text-align: center;
        opacity: 0.7;
    }

    form {
        margin: 30px;
    }

    label {
        opacity: 0.7;
    }

    form input,
    button {
        width: 100%;
        margin: 5px 0;
        padding: 10px;
        box-sizing: border-box;
    }

    form input {
        background-color: #E3F2FD;
        border: none;
        border-radius: 10px;
        padding: 15px;
    }

    form input:focus {
        outline: 2px solid #64B5F6;
    }

    form button {
        color: white;
        background-color: #64B5F6;
        border: none;
        border-radius: 10px;
        padding: 15px;
    }

    form button a {
        color: white;
        text-decoration: none;
    }

    footer {
        background-color: rgb(241, 242, 245);
        text-align: center;
        max-width: 1400px;
        width: 100%;
        margin: auto;
        padding: 30px 0 30px 0;
        border-top: 1px solid #c9deee;
    }

    hr {
        width: 95%;
        background-color: #c9deee;
        opacity: 0.3;
    }

    footer div ul li {
        text-align: center;
    }


    @media (max-width: 985px) {
        .form-container {
            width: 65%
        }
    }

    @media (max-width: 750px) {
        header a {
            width: 20%;
            padding: 5px;
        }

        header img {
            width: 100%;
        }
    }

    @media (max-width: 737px) {
        .form-container {
            width: 68%
        }
    }

    @media (max-width: 704px) and (min-width: 250px) {
        .form-container {
            width: 88%;
        }
    }

    @media (max-width: 704px) {
        header h2 {
            font-size: 1.2rem;
        }

        #login li {
            font-size: 1rem;
            margin: 5px;
        }

        footer h1 {
            font-size: 1.3rem;
        }
    }

    @media (max-width: 604px) {
        header h2 {
            font-size: 1.1rem;
        }
    }

    @media (max-width: 550px) {
        header a {
            width: 25%;
            padding: 5px;
        }

        header img {
            width: 100%;
        }
    }